/* Main CSS Style Sheet for this website */

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');

html{
	background: #222222;
	min-width: 610px;
}

body {
	color: white;
	font-family: 'Noto Serif SC', serif;
}

header {
    background-color: black;
    padding: 1%;
}

header>nav{
	text-align: center;
}
header>nav>ul>li{
	padding-right: 15px;
    padding-left: 15px;
}
header>p.contact{
	text-align: center;
}

section.bubbleSection{
	
	margin-top: 25px;
	margin-bottom: 25px;
    background-color: #555555;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h1 {
	font-family : 'Turret Road', sans-serif;
	font-weight: 1000;
    font-size: 3.7em;
    color:lawngreen;
    text-align: center;
}

h2 {
	font-family: 'Russo One',sans-serif;
	font-size: 2em;
	color: lawngreen;
}

h3{
	font-family: 'Russo One',sans-serif;
}

ul.navBar>li{
	display: inline;
	font-family: 'Russo One', sans-serif;
	font-size: 1.0em;
}

a {
	color: white;
	text-decoration: none;
}

ul.bulletedList>li{
	list-style: disc;
    padding-left: 4px;
    margin-left: 30px;
}

section#technologies{
	margin-top: -180px;
    margin-left: 50%;
}

p#downloadResume{
	margin-top: -9em;
    margin-bottom: 7em;
}